<template>
  <q-page class="tw-bg-gray-400">
    <div class="tw-mx-3 tw-pt-3 tw-text-left tw-left-0">
      <q-btn
        @click="
          $router.replace(
            '/customeractivity/customerinformation/' + $route.params.ID
          )
        "
        color="white"
        text-color="black"
        icon="undo"
      />
    </div>
    <!-- icon = "fast_rewind" -->
    <div class=" tw-mx-3 tw-py-3">
      <q-card class="tw-min-h-screen" flat>
        <q-card-section>
          <span class="tw-text-2xl  tw-font-bold tw-font-sans "
            >Professional Information
            <!-- {{ $store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0]  }} -->
          </span>

          <div class="tw-mt-3 tw-gap-2 tw-grid tw-grid-cols-6">
            <div class="tw-col-span-3 tw-pt-4">
              <div
                class="tw-text-gray-800 tw-text-xl  tw-font-semibold tw-pr-6"
              >
                Name
                <span class="tw-pl-5">:</span>
                <span class="tw-pl-7 tw-text-black tw-text-lg tw-font-normal">{{
                  $store.state.new_cust_info.filter(e => {
                    return e.Custom_id === $route.params.ID;
                  })[0].Name
                }}</span>
              </div>
            </div>
            <div class="tw-col-span-1 tw-pt-4">
              <span class="tw-text-gray-800 tw-text-xl tw-font-semibold tw-mt-3"
                >Date of Interaction :
              </span>
            </div>
            <div class="tw-col-span-2 tw--ml-4">
              <span>
                <q-input
                  class="tw-mt-3 tw-w-64"
                  dense
                  filled
                  v-model="date"
                  mask="date"
                  :rules="['date']"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        ref="qDateProxy"
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date v-model="date">
                          <div class="row items-center justify-end">
                            <q-btn
                              v-close-popup
                              label="Close"
                              color="primary"
                              flat
                            />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </span>
            </div>
          </div>
          <div>
            <!-- <div class="tw-col-span-2">
                        <q-field dense  outlined v-model="rep_name" label="Middle Name" stack-label >
                                    <template v-slot:control>
                                      <div >{{ rep_name }}</div>
                                    </template>
                        </q-field>
                    </div>
                    <div class="tw-col-span-2">
                        <q-field dense  outlined v-model="rep_name" label="First Name" stack-label >
                                    <template v-slot:control>
                                      <div >{{ rep_name }}</div>
                                    </template>
                        </q-field>
                    </div> -->
          </div>

          <div class="tw-gap-2 tw-grid tw-grid-cols-6 tw-mb-4">
            <div class="xs:tw-col-span-6 lg:tw-col-span-6">
              <div class="tw-text-gray-800 tw-text-xl  tw-font-semibold">
                Address :
                <span class="tw-pl-6 tw-text-black tw-text-lg tw-font-normal"
                  >{{
                    $store.state.new_cust_info.filter(e => {
                      return e.Custom_id === $route.params.ID;
                    })[0].address_cus
                  }},
                  {{
                    $store.state.new_cust_info.filter(e => {
                      return e.Custom_id === $route.params.ID;
                    })[0].city_cus
                  }}
                  ,{{
                    $store.state.new_cust_info.filter(e => {
                      return e.Custom_id === $route.params.ID;
                    })[0].state_cus
                  }}[{{
                    $store.state.new_cust_info.filter(e => {
                      return e.Custom_id === $route.params.ID;
                    })[0].zip_cus
                  }}]</span
                >
              </div>
              <!-- <q-field dense  outlined v-model="rep_name" label="Address Line 1" stack-label >
                                    <template v-slot:control>
                                      <div >{{$store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0].address_cus}}</div>
                                    </template>
                        </q-field> -->
            </div>
            <!-- <div class="xs:tw-mt-3 lg:tw-mt-0 xs:tw-col-span-6 lg:tw-col-span-3">
                        <q-field dense  outlined v-model="rep_name" label="Address Line 2" stack-label >
                                    <template v-slot:control>
                                      <div ></div>
                                    </template>
                        </q-field>
                        <div class="tw-text-gray-800 tw-text-lg  tw-font-semibold">Address Line 2: 
                            <span>  </span>
                        </div>
                    </div>
                    <div class="tw-mt-2 xs:tw-col-span-6 lg:tw-col-span-2">
                        <q-field dense  outlined v-model="rep_name" label="City" stack-label >
                                    <template v-slot:control>
                                      <div >{{$store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0].city_cus}}</div>
                                    </template>
                        </q-field>
                        <div class="tw-text-gray-800 tw-text-lg  tw-font-semibold">City: 
                            <span class="tw-pl-8 tw-text-black tw-text-base tw-font-normal" >{{$store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0].city_cus}}</span>
                        </div>
                    </div>
                    <div class="tw-mt-2 xs:tw-col-span-6 lg:tw-col-span-2">
                        <q-field dense  outlined v-model="rep_name" label="State" stack-label >
                                    <template v-slot:control>
                                      <div >{{$store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0].state_cus}}</div>
                                    </template>
                        </q-field>
                        <div class="tw-text-gray-800 tw-text-lg  tw-font-semibold">State: 
                            <span class="tw-pl-8 tw-text-black tw-text-base tw-font-normal" >{{$store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0].state_cus}}</span>
                        </div>
                    </div>
                    <div class="tw-mt-2 xs:tw-col-span-6 lg:tw-col-span-2">
                        <q-field dense  outlined v-model="rep_name" label="Zipcode" stack-label >
                            <template v-slot:control>
                                <div >{{$store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0].zip_cus}}</div>
                            </template>
                        </q-field>
                        <div class="tw-text-gray-800 tw-text-lg  tw-font-semibold">Zipcode: 
                            <span class="tw-pl-8 tw-text-black tw-text-base tw-font-normal" >{{$store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0].zip_cus}}</span>
                        </div>
                    </div> -->
          </div>
          <q-separator />
          <div class="tw-my-6">
            <span class=" tw-text-2xl  tw-font-bold  tw-font-sans"
              >Call Details</span
            >
          </div>

          <div class="tw-grid tw-grid-cols-6 tw-mb-6 ">
            <div class="xs:tw-col-span-5 lg:tw-col-span-3">
              <div class="tw-mt-3">
                <span
                  class="tw-text-gray-800 xs:tw-text-xs lg:tw-text-xl tw-font-semibold"
                  >MSL Joint Call :
                </span>
                <q-toggle size="xs" v-model="joint_call" class="tw-ml-4 " />
                <!-- <q-radio @click.native="changedatapres"  clickable v-model="shape1" size="xs" class="xs:tw-text-xs lg:tw-text-sm tw-ml-3"  val="Yes" label="Yes" />
                                <q-radio @click.native="changedataacc" clickable v-model="shape1" size="xs" class="xs:tw-text-xs lg:tw-text-sm"  val="No" label="No" />                                    -->
              </div>
            </div>
            <div class="xs:tw-col-span-6 lg:tw-col-span-3 ">
              <div class="tw-mt-3 ">
                <span
                  class="tw-text-gray-800 xs:tw-text-xs lg:tw-text-xl tw-font-semibold "
                  >Indication Type of Call :
                </span>
                <!-- <q-checkbox class="tw-ml-4 tw-text-md" dense right-label v-model="shape_proactive" label="Proactive" /> 
                                     <q-checkbox class="tw-ml-4 tw-text-md" dense right-label v-model="shape_reactive" label="Reactive" />                                   -->
                <q-radio
                  @click.native="changedatapres"
                  clickable
                  v-model="shape2"
                  size="xs"
                  class="xs:tw-text-xs lg:tw-text-lg tw-ml-3"
                  val="Proactive"
                  label="Proactive"
                />
                <q-radio
                  @click.native="changedataacc"
                  clickable
                  v-model="shape2"
                  size="xs"
                  class="xs:tw-text-xs lg:tw-text-lg"
                  val="Reactive"
                  label="Reactive"
                />
              </div>
            </div>
            <div class="xs:tw-col-span-6 lg:tw-col-span-3">
              <div class="tw-mt-4">
                <span
                  class="tw-text-gray-800 xs:tw-text-xs lg:tw-text-xl tw-font-semibold"
                  >Snacks</span
                >
                <span
                  class="tw-ml-14 tw-text-gray-800 tw-text-xl tw-font-semibold"
                  >:</span
                >
                <q-toggle v-model="snacks_choose" size="xs" class="tw-ml-6 " />

                <!-- <q-checkbox class="tw-ml-4 tw-text-base" dense right-label v-model="snacks_choose" label="" />                                     -->
              </div>
            </div>
            <div class=" tw-mt-4 tw-col-span-1">
              <span
                class="tw-text-gray-800 xs:tw-text-xs lg:tw-text-xl tw-font-semibold"
                >Indication</span
              >
              <span
                class="tw-text-gray-800 xs:tw-text-xs lg:tw-text-xl tw-font-semibold tw-ml-28"
                >:</span
              >
            </div>
            <div class="xs:tw-col-span-5 lg:tw-col-span-2 tw-ml-1">
              <div class="tw-mt-4">
                <q-select
                  filled
                  style="height: 20px"
                  dense
                  class=" tw-w-32"
                  v-model="model1"
                  :options="options1"
                />
              </div>
            </div>
            <!-- <div class="tw-col-span-2">
                            <div class="tw-mt-3">
                            <q-select  bg-color="white" style="min-height: 35px" dense class="tw-w-32" outlined v-model="model1" :options="options1" />    
                            </div>
                        </div> -->
          </div>
          <q-separator />
          <div v-if="names.length > 0">
            <div class="tw-mt-4" v-for="(a, index) in names" :key="index">
              <span class=" tw-text-2xl  tw-font-bold  tw-font-sans "
                >Leave Behind -
              </span>
              <span class="tw-text-gray-800 tw-font-medium tw-text-lg">{{
                a
              }}</span>
              <div class="tw-mt-3 tw-grid tw-grid-cols-6 tw-gap-2">
                <div class="xs:tw-col-span-6 lg:tw-col-span-3">
                  <div class="tw-mt-3">
                    <span
                      class="tw-text-gray-800 xs:tw-text-xs lg:tw-text-xl tw-font-semibold"
                      >Medicine Brochure :
                    </span>
                    <q-toggle
                      size="xs"
                      v-model="med_broch"
                      class="tw-ml-4 tw-text-base"
                    />
                  </div>
                </div>
            <div class=" tw-mt-4 tw-col-span-1">
              <span
                class="tw-text-gray-800 xs:tw-text-xs lg:tw-text-xl tw-font-semibold"
                >Indication</span
              >
              <span
                class="tw-text-gray-800 xs:tw-text-xs lg:tw-text-xl tw-font-semibold tw-ml-28"
                >:</span
              >
            </div>
            <div class="xs:tw-col-span-5 lg:tw-col-span-2 tw--ml-2">
              <div class="tw-mt-4">
                <q-select
                  filled
                  style="height: 20px"
                  dense
                  class=" tw-w-32"
                  v-model="model1"
                  :options="options1"
                />
              </div>
             </div> 
                <!-- <div
                  class="xs:tw-mt-3 lg:tw-mt-0 xs:tw-col-span-2 lg:tw-col-span-1"
                >
                  <div class="tw-mt-3">
                    <q-select
                      label="Indication"
                      filled
                      style="min-height: 35px"
                      dense
                      class="tw-w-32"
                      v-model="model1"
                      :options="options1"
                    />
                  </div>
                </div> -->
              </div>
            </div>
            
          </div>
          
          <div class="tw-my-6">
            <span
              class=" tw-text-2xl  tw-font-bold  tw-font-sans"
              >Search for attendees</span
            >
            
          </div>
          <div>
            <q-select
              class="tw-mt-3 tw-mb-6"
              v-model="model4"
              use-input
              @input="viewleavebehind"
              dense
              filled
              input-debounce="0"
              label="Attendees"
              :options="options4"
              @filter="filterFn"
              style="width: 250px"
            >
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">
                    No results
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
            <q-separator />
          </div>
            
          <div class="tw-mt-4">
            <span
              class=" tw-text-2xl  tw-font-bold  tw-font-sans"
              >Comment Section</span
            >
            <q-input
              dense
              class="tw-mt-8"
              label="Comment Box"
              v-model="text_acc"
              outlined
              type="textarea"
            />
          </div>
          <div class=" tw-mt-3 tw-right-0 tw-text-right">
            <q-btn class="tw-w-20" label="Save" type="submit" color="primary" />
            <q-btn
              class="tw-w-20 q-ml-sm"
              label="Cancel"
              type="reset"
              color="red"
            />
          </div>
          <!-- <q-input v-on:keyup.enter="viewleavebehind" class="tw-mt-3 tw-pr-2 tw-w-64 tw-inline-block"  outlined dense debounce="300" v-model="filter" placeholder="Search" >
                        <template  v-slot:append>
                        <q-icon name="search"/>
                    </template>
                    </q-input> -->
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
const stringOptions = ["Akhil", "Aniket", "Kshitig"];
export default {
  name: "CustomerDetailView",
  data() {
    return {
      date: "2021/05/11",
      shape1: "",
      shape2: "",
      joint_call: false,
      shape_proactive: false,
      shape_reactive: false,
      snacks_choose: false,
      med_broch: false,
      model1: "A",
      options1: ["A", "B", "C", "D"],
      filter: "",
      names: [],
      options4: stringOptions,
      model4: ""
    };
  },
  methods: {
    filterFn(val, update) {
      console.log("hello");
      if (val === "") {
        update(() => {
          this.options4 = stringOptions;
        });
        return;
      }

      update(() => {
        const needle = val;
        this.options4 = stringOptions.filter(v => v.indexOf(needle) > -1);
      });
    },
    viewleavebehind() {
      console.log(this.model4);
      if (this.model4 != null) {
        if (this.names.includes(this.model4) == true) {
          this.model4 = "";
          this.$q.notify({
            color: "red-4",
            textColor: "white",
            icon: "warning",
            message: "Attendee already selected"
          });
        } else {
          this.names.push(this.model4);
          this.model4 = "";
        }
      }
      // if(this.filter!= ''){
      // console.log(this.filter)
      // this.names.push(this.filter)
      // this.filter = ''
      // }
    }
  },
  created() {
    //    this.$store.state.new_cust_info.filter((e)=>{
    //        e.Custom_id == this.$route.params.ID
    //    })
  }
};
</script>
