<template>
    <q-page class="tw-bg-gray-400">
        <div class="tw-flex tw-flex-row">
            <div class="tw-flex-auto"><h3 class="tw-ml-4 xs:tw-text-sm md:tw-text-xl text-black tw-font-sans">Customer Activity</h3></div>
            <!-- <div class="tw-flex-none tw-pt-3 tw-pr-3 tw-justify-items-end">
                <q-select @input="dochange" bg-color="white" style="min-height: 35px" dense class="tw-w-44" outlined v-model="model1" :options="options1" />
            </div> -->
        </div>
        <q-card class="tw-mx-3 tw-mt-3 ">
        <!-- <q-tabs
          v-model="tab"
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
        >
          <q-tab name="customer_activity" label="Customer Activity" />
        </q-tabs>
        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel class=" tw-h-64 tw-px-0" name="customer_activity"> -->
            <q-table
              virtual-scroll
              :pagination.sync="pagination"
              :rows-per-page-options="[10]"
              :data="cust_data" 
              :columns="cust_columns" 
              flat
              @row-click="rowclicked"
            >
                 <template v-slot:top-right>
                    <q-btn class="tw-mr-2" label="New Activity" @click="zttmodal" color="primary"/>
                 </template>
            </q-table>
          <!-- </q-tab-panel>
        </q-tab-panels> -->
        </q-card>        
    </q-page>
</template>

<script>
export default {
    name: 'CustomerActivity',
    data(){
        return {
            tab: 'customer_activity',
      cust_columns: [
        { name: 'Custom_id', align: 'left', label: 'Customer ID', field: 'Custom_id' },
        { name: 'Name', align: 'left', label: 'Name', field: 'Name' },
        { name: 'parent_aff', align: 'left', label: 'Parent Affiliation', field: 'parent_aff' },
        { name: 'npi_cus', align: 'left', label: 'NPI', field: 'npi_cus' },
        { name: 'address_cus', align: 'left', label: 'Address', field: 'address_cus' },
        { name: 'state_cus', align: 'left', label: 'State', field: 'state_cus' },
        { name: 'city_cus', align: 'left', label: 'City', field: 'city_cus' },
        { name: 'zip_cus', align: 'left', label: 'ZipCode', field: 'zip_cus' },
      ],
      cust_data: this.$store.state.new_cust_info,
      new_data:[
          {
              'Custom_id' : 'C1',
              'Name' : 'Bagla Divyang',
              'address_cus': 'Karve Nagar',
              'state_cus': 'Maharashtra',
              'city_cus' : 'Pune',
              'zip_cus' : '411038'
          },
          {
              'Custom_id' : 'C2',
              'Name' : 'Bagla Divyang',
              'address_cus': 'Karve Nagar',
              'state_cus': 'Maharashtra',
              'city_cus' : 'Pune',
              'zip_cus' : '411038'
          }
      ]
        }
    },
    methods:{
        rowclicked(evt,row){
            this.$router.push({
                // name: 'customer_details',
                path: '/customeractivity/customerinformation/' + row.Custom_id,
                // params: {row}

            })
            // console.log('clicked on', row)
        }
    },
    created(){
        console.log(this.$store.state.new_cust_info.length)
        // if(this.$store.state.new_cust_info.length == 0){
        //  this.$store.commit('add_whole_data',this.new_data)
        // }
    }
}
</script>