<template>
    <q-page class="tw-bg-gray-400">
        <div class="tw-mx-4 tw-pt-3 tw-text-left tw-left-0">
            <q-btn
            @click="$router.replace('/customeractivity/')"
            color="white"
            text-color="black"
            icon="undo"
            
          />
        </div>
        <q-card class="tw-mt-4 tw-pb-4 tw-mx-4">
            <q-card-section>
                <div class="tw-block tw-relative ">
            <h5 class="tw-left-0 tw-inline-block  tw-pt-0 tw-m-0 tw-text-sm xl:tw-text-xl tw-border-b tw-font-semibold">Customer Information</h5>
            <div class=" tw-right-0 tw-text-right tw--mt-8">
              <q-btn
                class=""
                @click="rowclicked"
                color="green"
                text-color="white"
                label="New Call"
            />
            </div>
         
          </div>
                <!-- <div class="tw-right-0 tw-text-right">
                <q-btn
                class=""
                @click="rowclicked"
                color="green"
                text-color="white"
                label="New Call"
            />
          </div> -->
                <!-- <span class="tw-text-xl tw-border-b tw-font-semibold">Customer Information
                  {{ $store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0]  }} 
                </span> -->
                
                
                <div class="tw-mt-3 tw-gap-2 tw-grid tw-grid-cols-6">
                    <div class="tw-text-gray-800 tw-text-base  tw-font-medium">Name</div>
                    <!-- <div class="tw-col-span-3">
                        <div class="tw-mt-3">
                            <span class=" tw-text-lg tw-font-bold tw-border-b">Full Name :</span>
                            <span class=" tw-text-sm">   {{ $store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0].Name }}</span>
                        </div>
                    </div> -->
                    <div class="tw-col-span-6">
                        <q-field dense  outlined v-model="rep_name" label="Full Name" stack-label >
                                    <template v-slot:control>
                                      <div >{{ $store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0].Name }}</div>
                                    </template>
                        </q-field>
                    </div>
                    <!-- <div class="tw-col-span-2">
                        <q-field dense  outlined v-model="rep_name" label="Middle Name" stack-label >
                                    <template v-slot:control>
                                      <div >{{ rep_name }}</div>
                                    </template>
                        </q-field>
                    </div>
                    <div class="tw-col-span-2">
                        <q-field dense  outlined v-model="rep_name" label="First Name" stack-label >
                                    <template v-slot:control>
                                      <div >{{ rep_name }}</div>
                                    </template>
                        </q-field>
                    </div> -->
                    
                </div>
                <div class="tw-text-gray-800 tw-text-base tw-mt-3 tw-font-medium">Address Details</div>
                <div class="tw-mt-3 tw-gap-2 tw-grid tw-grid-cols-6">
                    <div class="xs:tw-col-span-6 lg:tw-col-span-3">
                        <q-field dense  outlined v-model="rep_name" label="Address Line 1" stack-label >
                                    <template v-slot:control>
                                      <div >{{$store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0].address_cus}}</div>
                                    </template>
                        </q-field>
                    </div>
                    <div class="xs:tw-mt-3 lg:tw-mt-0 xs:tw-col-span-6 lg:tw-col-span-3">
                        <q-field dense  outlined v-model="rep_name" label="Address Line 2" stack-label >
                                    <template v-slot:control>
                                      <div ></div>
                                    </template>
                        </q-field>
                    </div>
                    <div class="tw-mt-2 xs:tw-col-span-6 lg:tw-col-span-2">
                        <q-field dense  outlined v-model="rep_name" label="City" stack-label >
                                    <template v-slot:control>
                                      <div >{{$store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0].city_cus}}</div>
                                    </template>
                        </q-field>
                    </div>
                    <div class="tw-mt-2 xs:tw-col-span-6 lg:tw-col-span-2">
                        <q-field dense  outlined v-model="rep_name" label="State" stack-label >
                                    <template v-slot:control>
                                      <div >{{$store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0].state_cus}}</div>
                                    </template>
                        </q-field>
                    </div>
                    <div class="tw-mt-2 xs:tw-col-span-6 lg:tw-col-span-2">
                        <q-field dense  outlined v-model="rep_name" label="Zipcode" stack-label >
                            <template v-slot:control>
                                <div >{{$store.state.new_cust_info.filter((e)=>{
           return e.Custom_id === $route.params.ID
       })[0].zip_cus}}</div>
                            </template>
                        </q-field>
                    </div>
                    
                </div>
            </q-card-section>
        </q-card>
    </q-page>
</template>


<script>
export default {
    name: 'CustomerInfo',
    methods:{
        rowclicked(evt,row){
            this.$router.push({
                // name: 'customer_details',
                path: '/customeractivity/' + this.$route.params.ID,
                // params: {row}

            })
            // console.log('clicked on', row)
        }
    }
}
</script>