<template>
  <q-page class="tw-bg-gray-400">
    <div class="tw-flex tw-flex-row">
      <div class="tw-flex-auto xs:tw-ml-3"></div>
      <div class="xs:tw-flex-1  xl:tw-flex-none tw-pt-3 tw-pr-3 tw-justify-items-end">
          <q-select @input="donationchange" bg-color="white" style="min-height: 35px" dense class="xs:tw-w-24 xl:tw-w-40 xs:tw-text-xs lg:tw-text-sm" outlined v-model="model1" :options="options1" />
      </div>
      <div class="xs:tw-flex-1  xl:tw-flex-none tw-pt-3 tw-mr-3 tw-justify-items-end">
          <q-select @input="doregionchange" bg-color="white" style="min-height: 35px" dense class="xs:tw-w-24 xl:tw-w-40 xs:tw-text-xs lg:tw-text-sm" outlined v-model="model_reg" :options="options_reg" />
      </div>
      <div v-if="model_reg == 'All Region'"  class="xs:tw-flex-1  xl:tw-flex-none tw-pt-3 tw-pr-3 tw-justify-items-end">
          <q-select @input="doterrchange" disable bg-color="white" style="min-height: 35px" dense class="xs:tw-w-24 xl:tw-w-40 xs:tw-text-xs lg:tw-text-sm"  outlined v-model="model_terr" :options="options_terr" />
      </div>
      <!-- <div v-if="model_terr == 'All'"  class="xs:tw-flex-1  xl:tw-flex-none tw-pt-3 tw-mr-3 tw-justify-items-end">
          <q-select @input="doregionchange" disable bg-color="white" style="min-height: 35px" dense class="xs:tw-w-24 xl:tw-w-40" outlined v-model="model_reg" :options="options_reg" />
      </div> -->
      <div v-else class="xs:tw-flex-1  xl:tw-flex-none tw-pt-3 tw-pr-3 tw-justify-items-end">
          <q-select @input="doterrchange" bg-color="white" style="min-height: 35px" dense class="xs:tw-w-24 xl:tw-w-40 xs:tw-text-xs lg:tw-text-sm"  outlined v-model="model_terr" :options="options_terr" />
      </div>
      <!-- <div v-else class="xs:tw-flex-1  xl:tw-flex-none tw-pt-3 tw-mr-3 tw-justify-items-end">
          <q-select @input="doregionchange" bg-color="white" style="min-height: 35px" dense class="xs:tw-w-24 xl:tw-w-40" outlined v-model="model_reg" :options="options_reg" />
      </div> -->
    </div>
      <!-- <div class="tw-text-right tw-p-3 tw-align-right">
        <q-select @input="dochange" bg-color="white" style="min-height: 35px" dense class="tw-w-32" outlined v-model="model1" :options="options1" />
      </div> -->
        <q-card class="tw-mx-3 tw-mt-3 ">
        <q-tabs
          v-model="tab"
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
        >
          <q-tab name="change_request" label="Change Request" />
          <!-- <q-tab name="customer_info" label="Customer Info" /> -->
          <q-tab name="ZTT_request" label="ZTT Requests" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel class="tw-h-64 tw-px-0" name="change_request">
            <q-table
            class="my-sticky-dynamic"
              style = "height: 495px"
              flat
              :filter = "filter"
              virtual-scroll
              :pagination.sync="pagination"
              :rows-per-page-options="[10]"
              :columns="columns" :data="data" 
             > 
                <template v-slot:top-left>
                    <q-input class="xs:tw-pt-3 xl:tw-pt-0 tw-pr-2 tw-w-64 tw-inline-block"  outlined dense debounce="300" v-model="filter" placeholder="Search">
                    <template  v-slot:append>
                        <q-icon name="search"/>
                    </template>
                    </q-input>
                </template>
                <template v-slot:body-cell-status="props">
          <q-td class="tw-text-center" :props="props">
            <q-chip
              :color="(props.row.status == 'Approved')?'green': 'primary'"
              text-color="white"
              dense
              class="tw-pl-3"
              square
              style="width: 85px"
            >{{props.row.status}}
            </q-chip>
          </q-td> 
                </template>
                <template v-slot:body-cell-edit="cellProperties">
                    <q-td  :props="cellProperties">
                      <!-- <q-btn class="tw-w-8" icon="edit" @Click="edit_customer = true" color="primary"/> -->
                    <q-btn flat class="xs:tw-pt-3 xl:tw-pt-0 tw-mr-2" :icon="data.filter((e)=>{
                      return e.edit == cellProperties.value})[0].icon_dis"  @click.native="edit_form_fun(cellProperties.value)" />
                      <!-- :icon="data[cellProperties.value].status == 'Submitted' ?  'edit' : 'visibility'" -->
                      <!-- :icon="data[cellProperties.value].icon_dis" -->
                      <q-dialog
                        v-if="edit_d.status == 'Submitted'"
                        square
                         v-model="edit_customer"
                      >
                          <q-card style="max-width: 1700px;width:1000px;height:700px" >
                              <q-card-section>
                                <!-- <q-card class="text-h6 tw-text-center  tw-text-white tw-font-semibold tw-bg-blue-500">ADD CUSTOMER</q-card> -->
                                <div class="tw-text-lg tw-font-semibold">Edit Customer Details</div>
                              </q-card-section>
                              <q-card-section>
                                  <q-form
                                    @submit="onapproveedit()"
                                    @reset="onResetpres"
                                    class="q-gutter-md"
                                  >
                                  <span class="tw-text-lg tw-border-b">Change Request Details</span>
                                  <div class="tw-grid tw-grid-cols-4 tw-gap-2">
                                    <div class="xs:tw-col-span-4 xl:tw-col-span-1">
                                      <q-input
                                      dense
                                      :readonly="true"
                                      outlined
                                      v-model="edit_d.Rid"
                                      label="change Request Id"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="xs:tw-col-span-4 xl:tw-col-span-1">
                                      <q-input
                                      :readonly="true"
                                      dense
                                      outlined
                                      v-model="edit_d.Change_Request_Name"
                                      label="change Request Name"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="xs:tw-col-span-4 xl:tw-col-span-1">
                                      <q-input
                                      :readonly="true"
                                      dense
                                      outlined
                                      v-model="account"
                                      label="Change Request Type"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="xs:tw-col-span-4 xl:tw-col-span-1">
                                      <q-input
                                      :readonly="true"
                                      dense
                                      outlined
                                      v-model="edit_d.status"
                                      label="status"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                  </div>
                                  <!-- <q-card class="text-h6 tw-text-left  tw-text-white tw-font-semibold tw-bg-blue-500">Prescriber details</q-card> -->
                                  <span class="tw-text-lg tw-border-b">Prescriber Details</span>
                                  <!-- <hr> -->
                                  <div class="tw-grid tw-grid-cols-7 tw-gap-2">
                                    <!-- <div class="tw-col-span-1">
                                        <q-select @input="dochange" bg-color="white" style="min-height: 35px" dense class="" outlined v-model="model3" :options="options3" >
                                          <template v-slot:option="scope">
                                            <q-item
                                              v-bind="scope.itemProps"
                                              v-on="scope.itemEvents"
                                              :disabled="readOnly"   
                                              :class="{'no-pointer-events': readOnly }"      
                                            >
                                              <q-item-section>
                                                <q-item-label >{{ scope.opt }}</q-item-label>
                                              </q-item-section>
                                            </q-item>
                                          </template> 
                                        </q-select>  
                                    </div> -->
                                    <div class="xs:tw-col-span-7 xl:tw-col-span-1">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.Prefix"
                                      label="Prefix *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="xs:tw-col-span-7 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.Last_Name"
                                      label="Last name *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="xs:tw--mt-1 xl:tw-mt-0 xs:tw-col-span-7 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.Middle_Name"
                                      label="Middle name"
                                    />
                                    </div>
                                    <div class="xs:tw-mt-3 xl:tw-mt-0 xs:tw-col-span-7 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.First_Name"
                                      label="First name *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="tw--mt-1 xs:tw-col-span-7 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.Parent_Affiliation"
                                      label="Parent Affiliation"
                                    />
                                    </div>
                                    <div class="xs:tw-mt-3 xl:tw--mt-1 xs:tw-col-span-7 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.NPI"
                                      label="NPI"
                                    />
                                    
                                    </div>
                                    <div class="xs:tw-mt-3 xl:tw--mt-1 xs:tw-col-span-7 xl:tw-col-span-3">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.NLP"
                                      label="NLP"
                                    />
                                    
                                    </div>
                                  </div>
                                  <div>
                                    <span class="tw-text-lg tw-border-b">Address Details </span>
                                     <q-checkbox class="tw-ml-4 tw-text-md" dense right-label v-model="edit_d.Primary" label="Primary" />                                    
                                  </div>
                                  <!-- <hr> -->
                                  <div class="tw-grid tw-grid-cols-6 tw-gap-2">
                                    <div class="xs:tw-col-span-6 xl:tw-col-span-3">
                                    <q-input
                                    :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.Address_Line_1"
                                      label="Address Line 1 *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="xs:tw--mt-3 xl:tw-mt-0 xs:tw-col-span-6 xl:tw-col-span-3">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.Address_Line_2"
                                      label="Address Line 2"
                                   
                                    />
                                    </div>
                                    <div class="xs:tw-mt-3 xl:tw--mt-1 xs:tw-col-span-6 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.State"
                                      label="State *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="tw--mt-1 xs:tw-col-span-6 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.City"
                                      label="City *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="tw--mt-1 xs:tw-col-span-6 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.Zip"
                                      label="Zipcode *"
                                      lazy-rules
                                      :rules="[ val => val && val.length == 5 || 'Please type something']"
                                    /> 
                                    </div>
                                  </div>
  
                                
                                <!-- <q-card class="text-h6 tw-text-left  tw-text-white tw-font-semibold tw-bg-blue-500">Prescriber details</q-card> -->

                                   
                                    
                                    <span class="tw-text-lg tw-border-b">Additional Information</span>
                                    <!-- <hr> -->
                                    <q-input
                                    :readonly="edit_d.readOnly"
                                      :input-style="{ height: '50px' }"
                                      label = "Comment Box"
                                      v-model="pres_text_pres"
                                      outlined
                                      type="textarea"
                                    />

                                    <q-card-actions align="right" class="bg-white text-teal">
                                      <q-btn class="tw-w-20" label="Approve" type="submit" color="green" v-close-popup="done_check3 == true ? 0 :-1" />
                                      <q-btn label="Cancel" type="reset" color="red" class="tw-w-20 q-ml-sm" v-close-popup/>
                                    </q-card-actions>
                                  </q-form>
                                </q-card-section>

                              <!-- <q-card-actions align="right" class="bg-white text-teal"> -->
                              <!-- <q-btn flat label="Close" v-close-popup /> -->
                              <!-- </q-card-actions> -->
                          </q-card>
                      </q-dialog>
                      <q-dialog
                        v-else-if="edit_d.status == 'Approved'"
                        square
                         v-model="edit_customer"
                      >
                          <q-card style="max-width: 1700px;width:1000px" >
                              <q-card-section>
                                <!-- <q-card class="text-h6 tw-text-center  tw-text-white tw-font-semibold tw-bg-blue-500">ADD CUSTOMER</q-card> -->
                                <div class="tw-text-lg tw-font-semibold">Approved Customer Details</div>
                              </q-card-section>
                              <q-card-section>
                                  <q-form
                                    
                                    class="q-gutter-md"
                                  >

                                  <!-- <q-card class="text-h6 tw-text-left  tw-text-white tw-font-semibold tw-bg-blue-500">Prescriber details</q-card> -->
                                  <span class="tw-text-lg tw-border-b">Prescriber Details</span>
                                  <!-- <hr> -->
                                  <div class="tw-grid tw-grid-cols-7 tw-gap-2">
                                    <!-- <div class="tw-col-span-1">
                                        <q-select @input="dochange" bg-color="white" style="min-height: 35px" dense class="" outlined v-model="model3" :options="options3" >
                                          <template v-slot:option="scope">
                                            <q-item
                                              v-bind="scope.itemProps"
                                              v-on="scope.itemEvents"
                                              :disabled="readOnly"   
                                              :class="{'no-pointer-events': readOnly }"      
                                            >
                                              <q-item-section>
                                                <q-item-label >{{ scope.opt }}</q-item-label>
                                              </q-item-section>
                                            </q-item>
                                          </template> 
                                        </q-select>  
                                    </div> -->
                                    <div class="xs:tw-col-span-7 xl:tw-col-span-1">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.Prefix"
                                      label="Prefix *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="xs:tw-col-span-7 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.Last_Name"
                                      label="Last name *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="xs:tw--mt-1 xl:tw-mt-0 xs:tw-col-span-7 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.Middle_Name"
                                      label="Middle name"
                                    />
                                    </div>
                                    <div class="xs:tw-mt-3 xl:tw-mt-0 xs:tw-col-span-7 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.First_Name"
                                      label="First name *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="tw--mt-1 xs:tw-col-span-7 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.Parent_Affiliation"
                                      label="Parent Affiliation"
                                    />
                                    </div>
                                    <div class="xs:tw-mt-3 xl:tw--mt-1 xs:tw-col-span-7 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.NPI"
                                      label="NPI"
                                    />
                                    
                                    </div>
                                    <div class="xs:tw-mt-3 xl:tw--mt-1 xs:tw-col-span-7 xl:tw-col-span-3">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.NLP"
                                      label="NLP"
                                    />
                                    
                                    </div>
                                  </div>
                                  <div>
                                    <span class="tw-text-lg tw-border-b">Address Details </span>
                                     <q-checkbox class="tw-ml-4 tw-text-md" disable dense right-label v-model="edit_d.Primary" label="Primary" />                                    
                                  </div>
                                  <!-- <hr> -->
                                  <div class="tw-grid tw-grid-cols-6 tw-gap-2">
                                    <div class="xs:tw-col-span-6 xl:tw-col-span-3">
                                    <q-input
                                    :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.Address_Line_1"
                                      label="Address Line 1 *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="xs:tw--mt-3 xl:tw-mt-0 xs:tw-col-span-6 xl:tw-col-span-3">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.Address_Line_2"
                                      label="Address Line 2"
                                   
                                    />
                                    </div>
                                    <div class="xs:tw-mt-3 xl:tw--mt-1 xs:tw-col-span-6 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.State"
                                      label="State *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="tw--mt-1 xs:tw-col-span-6 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.City"
                                      label="City *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="tw--mt-1 xs:tw-col-span-6 xl:tw-col-span-2">
                                      <q-input
                                      :readonly="edit_d.readOnly"
                                      dense
                                      outlined
                                      v-model="edit_d.Zip"
                                      label="Zipcode *"
                                      lazy-rules
                                      :rules="[ val => val && val.length == 5 || 'Please type something']"
                                    /> 
                                    </div>
                                  </div>
  
                                
                                <!-- <q-card class="text-h6 tw-text-left  tw-text-white tw-font-semibold tw-bg-blue-500">Prescriber details</q-card> -->

                                   
                                    
                                    <span class="tw-text-lg tw-border-b">Additional Information</span>
                                    <!-- <hr> -->
                                    <q-input
                                    :readonly="edit_d.readOnly"
                                      :input-style="{ height: '50px' }"
                                      label = "Comment Box"
                                      v-model="pres_text_pres"
                                      outlined
                                      type="textarea"
                                    />

                                    <q-card-actions align="right" class="bg-white text-teal">
                                      <q-btn label="Close" type="reset" color="red" class="tw-w-20 q-ml-sm" v-close-popup/>
                                    </q-card-actions>
                                  </q-form>
                                </q-card-section>

                              <!-- <q-card-actions align="right" class="bg-white text-teal"> -->
                              <!-- <q-btn flat label="Close" v-close-popup /> -->
                              <!-- </q-card-actions> -->
                          </q-card>
                      </q-dialog>
                    </q-td>
                </template>
                <template v-slot:top-right>
                    <q-btn class="tw-mr-2" label="ZTT Alignment" @click="zttmodal" color="primary"/>
                    <q-dialog v-model="opened" square>
                         <q-card style="max-width: 1700px;width:800px;height:700px" >
                            <q-card-section class="q-pt-none">
                           <q-form
                              @reset="onResetpres"
                              class="q-gutter-md"
                            >
                          <!-- <q-card-section> -->
                             <div class="tw-pt-3 tw-text-lg tw-font-semibold">ZTT Details</div>
                          <!-- </q-card-section> -->

                         
                            <q-select
                                v-model="model4"
                                use-input
                                @input="showcurrent"
                                dense
                                filled
                                input-debounce="0"
                                label="Zip Codes"
                                :options="options4"
                                @filter="filterFn"
                                style="width: 250px"
                              >
                                <template v-slot:no-option>
                                  <q-item>
                                    <q-item-section class="text-grey">
                                      No results
                                    </q-item-section>
                                  </q-item>
                                </template>
                              </q-select>
                              <div class="">
                                <span class="tw-text-lg tw-border-b">Current Alignment</span>
                              </div>
                              <div class="tw-grid tw-grid-cols-2 tw-gap-2">
                                <div class="xs:tw-col-span-2 xl:tw-col-span-1">
                                  <q-field dense  outlined v-model="terr_name" label="Territory Name" stack-label >
                                    <template v-slot:control>
                                      <div >{{ terr_name }}</div>
                                    </template>
                                  </q-field>
                                  <!-- <q-input
                                      dense
                                      outlined
                                      v-model="terr_name"
                                      label="Territory Name"
                                    /> -->
                                </div>
                                
                                <div class="xs:tw-mt-2 xl:tw-mt-0 xs:tw-col-span-2 xl:tw-col-span-1"> 
                                  <!-- <q-input
                                      dense
                                      outlined
                                      v-model="rep_name"
                                      label="REP Name"
                                    /> -->
                                    <q-field dense  outlined v-model="rep_name" label="REP Name" stack-label >
                                    <template v-slot:control>
                                      <div >{{ rep_name }}</div>
                                    </template>
                                  </q-field>
                                </div>
                              </div>
                              <div class="">
                                <span class="tw-text-lg tw-border-b">New Territory/ REP Name</span>
                              </div>
                                <q-select
                                    v-model="model5"
                                    @input="showcurrentnew"
                                    use-input
                                    dense
                                    filled
                                    input-debounce="0"
                                    label="Zip Codes"
                                    :options="options5"
                                    @filter="filterFnnew"
                                    style="width: 250px"
                                  >
                                    <template v-slot:no-option>
                                      <q-item>
                                        <q-item-section class="text-grey">
                                          No results
                                        </q-item-section>
                                      </q-item>
                                    </template>
                                  </q-select>
                              <div class=" tw-grid tw-grid-cols-2 tw-gap-2">
                                <div class="tw-mt-2 xs:tw-col-span-2 xl:tw-col-span-1">
                                  <!-- <q-field
                                      dense
                                      outlined
                                      v-model="new_terr_name"
                                      label="New Territory Name"
                                    /> -->
                                    <q-field dense  outlined v-model="new_terr_name" label="New Territory Name" stack-label >
                                    <template v-slot:control>
                                      <div >{{ new_terr_name }}</div>
                                    </template>
                                  </q-field>
                                </div>
                                <div class="tw-mt-2 xs:tw-col-span-2 xl:tw-col-span-1"> 
                                  <!-- <q-field
                                      dense
                                      outlined
                                      v-model="new_rep_name"
                                      label="New REP Name"
                                    /> -->
                                    <q-field dense  outlined v-model="new_rep_name" label="New REP Name" stack-label >
                                    <template v-slot:control>
                                      <div >{{ new_rep_name }}</div>
                                    </template>
                                  </q-field>
                                </div>
                              </div>
                              <div class="">
                                <span class="tw-text-lg tw-border-b">Effective Date</span>
                              </div>
                              <div >
                                <q-input class="tw-w-64" dense filled v-model="date" mask="date" :rules="['date']">
                                  <template v-slot:append>
                                    <q-icon name="event" class="cursor-pointer">
                                      <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                        <q-date v-model="date">
                                          <div class="row items-center justify-end">
                                            <q-btn v-close-popup label="Close" color="primary" flat />
                                          </div>
                                        </q-date>
                                      </q-popup-proxy>
                                    </q-icon>
                                  </template>
                                </q-input>
                              </div>
                              <div class="tw--mt-1">
                                <span class="tw-text-lg tw-border-b">Comments Section</span>
                              </div>
                              <q-input
                                :input-style="{ height: '75px' }"
                                label = "Comment Box"
                                v-model="text_pres"
                                outlined
                                type="textarea"
                              />
                          <q-card-actions align="right" class="bg-white text-teal">
                              <q-btn class="tw-w-20" label="Submit" type="submit" color="primary" @click="onZTTrequest" v-close-popup="done_check4" />
                              <q-btn label="Cancel" type="reset" color="red" class="tw-w-20 q-ml-sm" v-close-popup/>
                          </q-card-actions>
                           </q-form>
                           </q-card-section>
                        </q-card>
                      </q-dialog>
                    <q-btn class="tw-mr-2" label="New Customer" color="green" @click.native="customer_form_fun" />
                      <q-dialog
                       
                        square
                         v-model="add_customer"
                      >
                          <q-card style="max-width: 1600px;width:1000px;height:700px" >
                            <q-card-section>
                                <q-radio @click.native="changedatapres"  clickable v-model="shape1" size="xs" class=" "  val="pres" label="Prescriber" />
                                <q-radio @click.native="changedataacc" clickable v-model="shape1" size="xs" class=""  val="acc" label="Account" />
                              </q-card-section>
                              <!-- <q-card-section> -->
                                <!-- <q-card class="text-h6 tw-text-center  tw-text-white tw-font-semibold tw-bg-blue-500">ADD CUSTOMER</q-card> -->
                                <!-- <div  class="tw-text-lg tw-font-semibold">{{ name_dis }} details</div>
                              </q-card-section> -->
                              
                              <q-card-section>
                                  <q-form
                                    v-if = "shape1 == 'pres'"
                                    @submit="onSubmitpres"
                                    @reset="onResetpres"
                                    class="q-gutter-md"
                                  >
                                  <!-- <q-card class="text-h6 tw-text-left  tw-text-white tw-font-semibold tw-bg-blue-500">Prescriber details</q-card> -->
                                  <span class="tw-text-lg tw-border-b">Prescriber Details</span>
                                  <!-- <hr> -->
                                  <div class="tw-grid tw-grid-cols-7 tw-gap-2">
                                    <div class="xs:tw-col-span-7 xl:tw-col-span-1">
                                        <q-select @input="dochange" bg-color="white" style="min-height: 35px" dense class="xs:tw-w-32 xl:tw-w-auto" outlined v-model="model3" :options="options3" >
                                         
                                        </q-select>  
                                    </div>
                                    <div class="xs:tw-col-span-7 xl:tw-col-span-2">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="name"
                                      label="Last name *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="xs:tw--mt-2 xl:tw-mt-0 xs:tw-col-span-7 xl:tw-col-span-2">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="midd_name"
                                      label="Middle name "

                                    />
                                    </div>
                                    <div class="xs:tw-mt-2 xl:tw-mt-0 xs:tw-col-span-7 xl:tw-col-span-2">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="first_name"
                                      label="First name *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                  </div>
                                  <div class="tw--mt-1 tw-grid tw-grid-cols-2 tw-gap-2">
                                    <div class="tw-mt-1 xs:tw-col-span-2 xl:tw-col-span-1">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="paname"
                                      label="Parent Affiliation "
                                    />
                                    </div>
                                    <div class="tw-mt-1 xs:tw-col-span-2 xl:tw-col-span-1">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="nfi"
                                      label="NPI "
                                    />
                                    
                                    </div>
                                    
                                  </div>
                                  <!-- <div> -->
                                  
                                  <!-- <hr> -->
                                    
                                  <!-- </div> -->
                                  <div>
                                    <span class="tw-text-lg tw-border-b">Address Details </span>
                                     <q-checkbox class="tw-ml-4 tw-text-md" dense right-label v-model="shape_prim" label="Primary" />                                    
                                  </div>

                                  <div class="tw-grid tw-grid-cols-6 tw-gap-2">
                                     <!-- <div class="tw-col-span-2">
                                       <q-radio  clickable v-model="shape1" size="xs" class=""  val="acc" label="Primary" />
                                     </div> -->
                                    <div class="xs:tw-col-span-6 xl:tw-col-span-3">
                                    <q-input
                                      dense
                                      outlined
                                      v-model="add_lane_1"
                                      label="Address Line 1 *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="xs:tw-col-span-6 xl:tw-col-span-3">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="add_lane_2"
                                      label="Address Line 2"
                                   
                                    />
                                    </div>
                                    <div class="xs:tw-mt-2 xl:tw--mt-1 xs:tw-col-span-6 xl:tw-col-span-2">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="state"
                                      label="State *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="tw--mt-1 xs:tw-col-span-6 xl:tw-col-span-2">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="city"
                                      label="City *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="tw--mt-1 xs:tw-col-span-6 xl:tw-col-span-2">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="zipcode"
                                      label="Zipcode *"
                                      lazy-rules
                                      :rules="[ val => val && val.length == 6 || 'Please type something']"
                                    /> 
                                    </div>
                                  </div>
  
                                
                                <!-- <q-card class="text-h6 tw-text-left  tw-text-white tw-font-semibold tw-bg-blue-500">Prescriber details</q-card> -->

                                   
                                    
                                    <span class="tw-text-lg tw-border-b">Additional Information</span>
                                    <!-- <hr> -->
                                    <q-input
                                      :input-style="{ height: '155px' }"
                                      label = "Comment Box"
                                      v-model="text_pres"
                                      outlined
                                      type="textarea"
                                    />

                                    <q-card-actions align="right" class="bg-white text-teal">
                                      <q-btn class="tw-w-20" label="Save" type="submit" color="primary"   v-close-popup="done_check == true ? 0 :-1" />
                                      <q-btn label="Cancel" type="reset" color="red" class="tw-w-20 q-ml-sm" v-close-popup/>
                                    </q-card-actions>
                                  </q-form>


                                  <q-form
                                    v-if = "shape1 == 'acc'"
                                    @submit="onSubmitacc"
                                    @reset="onResetacc"
                                    class="q-gutter-md"
                                  >
                                  <!-- <q-card class="text-h6 tw-text-left  tw-text-white tw-font-semibold tw-bg-blue-500">Prescriber details</q-card> -->
                                  <span class="tw-text-lg tw-border-b">Account Details</span>
                                  <!-- <hr> -->
                                  <div class="tw-grid tw-grid-cols-2 tw-gap-2">
                                    <div class="xs:tw-col-span-2 xl:tw-col-span-1">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="name_acc"
                                      label="Account name *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    
                                    </div>
                                    <div class="xs:tw--mt-2 xl:tw-mt-0 xs:tw-col-span-2 xl:tw-col-span-1">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="paname_acc"
                                      label="Parent Affiliation"
                                    />
                                    </div>
                                  </div>
                                  <!-- <span class="tw-text-lg tw-border-b">Address Details</span> -->
                                  <!-- <hr> -->
                                  <div class="xs:tw-mt-4 xl:tw--mt-1">
                                    <span class="tw-text-lg tw-border-b">Address Details </span>
                                    <!-- <q-radio  clickable v-model="shape_prim" size="xs" class="tw-ml-4 tw-text-md"  val="primary" label="Primary" />                                     -->
                                     <q-checkbox class="tw-ml-4 tw-text-md" dense right-label v-model="shape_prim" label="Primary" />
                                  </div>

                                  <div class="tw-grid tw-grid-cols-6 tw-gap-2">
                                    <div class="xs:tw-col-span-6 xl:tw-col-span-3">
                                    <q-input
                                      dense
                                      outlined
                                      v-model="add_lane_1_acc"
                                      label="Address Line 1 *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="xs:tw--mt-2 xl:tw-mt-0 xs:tw-col-span-6 xl:tw-col-span-3">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="add_lane_2_acc"
                                      label="Address Line 2"
                                   
                                    />
                                    </div>
                                    <div class="xs:tw-mt-2 xl:tw--mt-2 xs:tw-col-span-6 xl:tw-col-span-2">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="state_acc"
                                      label="State *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="tw--mt-2 xs:tw-col-span-6 xl:tw-col-span-2">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="city_acc"
                                      label="City *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    </div>
                                    <div class="tw--mt-2 xs:tw-col-span-6 xl:tw-col-span-2">
                                      <q-input
                                      dense
                                      outlined
                                      v-model="zipcode_acc"
                                      label="Zipcode *"
                                      lazy-rules
                                      :rules="[ val => val && val.length == 6 || 'Please type something']"
                                    /> 
                                    </div>
                                  </div>
  
                                
                                <!-- <q-card class="text-h6 tw-text-left  tw-text-white tw-font-semibold tw-bg-blue-500">Prescriber details</q-card> -->

                                   
                                    
                                    <span class="tw-text-lg tw-border-b">Additional Information</span>
                                    <!-- <hr> -->
                                    <div class="tw-grid tw-grid-cols-1 tw-gap-6">
                                      <div class="tw-col-span-1">
                                        <q-input
                                          dense
                                          outlined
                                          v-model="npi_name_acc"
                                          label="NPI "
                                        />
                                      
                                      </div>
                                      <div class="tw--mt-2 tw-col-span-1">
                                        <q-input
                                          :input-style="{ height: '155px' }"
                                          label = "Comment Box"
                                          v-model="text_pres"
                                          outlined
                                          type="textarea"
                                        />
                                      </div>
                                    </div>
                                    
                                    

                                    <q-card-actions align="right" class="bg-white text-teal">
                                      <q-btn class="tw-w-20" label="Save" type="submit" color="primary"   v-close-popup="done_check1 == true ? 0 :-1" />
                                      <q-btn label="Cancel" type="reset" color="red" class="tw-w-20 q-ml-sm" v-close-popup/>
                                    </q-card-actions>
                                  <!-- <span class="tw-text-lg">Accountant Details</span>
                                  <hr>
                                    <q-input
                                      dense
                                      outlined
                                      v-model="name_acc"
                                      label="Account name *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    <q-input
                                      dense
                                      outlined
                                      v-model="paname_acc"
                                      label="Parent Affiliation *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                  <span class="tw-text-lg">Address Details</span>
                                  <hr>
                                    <q-select  bg-color="white" style="min-height: 35px" dense class="tw-w-32" outlined v-model="model2" :options="options2" />
                                    <br>
                                    <q-input
                                      dense
                                      outlined
                                      v-model="add_lane_1_acc"
                                      label="Address Line 1 *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    <q-input
                                      dense
                                      outlined
                                      v-model="add_lane_2_acc"
                                      label="Address Line 2"                                  
                                    />
                                    <br>
                                    <q-input
                                      dense
                                      outlined
                                      v-model="state_acc"
                                      label="State *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    <q-input
                                      dense
                                      outlined
                                      v-model="city_acc"
                                      label="City *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    <q-input
                                      dense
                                      outlined
                                      v-model="zipcode_acc"
                                      label="Zipcode *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 && val.length < 7 || 'Please type something']"
                                    />
                                    <span class="tw-text-lg">Additional Information</span>
                                    <hr>
                                    <q-input
                                      dense
                                      outlined
                                      v-model="npi_name_acc"
                                      label="NPI *"
                                      lazy-rules
                                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                                    />
                                    <q-input
                                      dense
                                      :input-style="{ height: '500px' }"
                                      label = "Comment Box"
                                      v-model="text_acc"
                                      outlined
                                      type="textarea"
                                    />

                                    <div>
                                      <q-btn class="tw-w-20" label="Save" type="submit" color="primary"/>
                                      <q-btn class="tw-w-20 q-ml-sm" label="Cancel" type="reset" color="red"  v-close-popup/>
                                    </div> -->
                                  </q-form>

                              </q-card-section>

                              <!-- <q-card-actions align="right" class="bg-white text-teal"> -->
                              <!-- <q-btn flat label="Close" v-close-popup /> -->
                              <!-- </q-card-actions> -->
                          </q-card>
                      </q-dialog>
                </template>   
            </q-table>             
          </q-tab-panel>
           <q-tab-panel class="tw-px-0" name="customer_info">
            <q-table :data="cust_data" :columns="cust_columns" flat></q-table>
          </q-tab-panel>
          <q-tab-panel class="tw-px-0" name="ZTT_request">
            <q-table :data="ztt_data" :columns="ztt_columns" flat></q-table>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>

      <q-card>

        </q-card>    
  </q-page>
</template>

<script>
const stringOptions = [
  '311001', '411038', '321001', '432001'
]
const stringOptions1 = ['451231','648279','795402','231111']
import change_data from '../assets/change_request.json'
export default {
  name: 'PageIndex',
  data(){
    return {
      pagination : 10,
      changeicon: 'edit',
      filter : '',
      text: 'Some text',
      terr_name :'ABC',
      rep_name: 'D',
      new_terr_name: '',
      new_rep_name: '',
      shape_prim: false,
      date: '2021/05/05',
      model4: '311001',
      options4: stringOptions,
      model5: null,
      options5: stringOptions1,
      name_dis: 'Prescriber',
      readonly: false,
      change_request_id: 'C121',
      change_request_name: 'sam',
      account: 'prescriber',
      status:'submitted',
      pres_last_name: 'patil',
      pres_first_name: 'sam',
      pres_midd_name: '',
      pres_paname: 'ddd',
      pres_nfi: 'hhh',
      pres_nlp: 'hel',
      pres_add_lane_1: 'kakde city',
      pres_add_lane_2: '',
      pres_city: 'Pune',
      pres_state: 'maharashtra',
      pres_zipcode: '411038',
      pres_text_pres: '',
      tab: 'change_request',
      done_check: false,
      done: 0,
      name: '',
      opened: false,
      midd_name: '',
      first_name: '',
      paname :'',
      nfi: '',
      add_lane_1 :'',
      add_lane_2: '',
      city: '',
      state :'',
      zipcode: '',
      text_pres :'',
      name_acc: '',
      paname_acc :'',
      npi_name_acc: '',
      add_lane_1_acc :'',
      add_lane_2_acc: '',
      city_acc: '',
      state_acc :'',
      zipcode_acc: '',
      text_acc :'',
      done_check1: false,
      add_customer : false,
      done_check3 : false,
      model1 : 'Nation 1',
      options1 : ['Nation 1','Nation 2'],
      model_reg: 'All Region',
      options_reg: ['All Region','Region 1','Region 2'],
      model_terr: 'All Territory',
      options_terr: ['All Territory','Territory 1','Territory 2'],
      shape1: "pres",
      model2: 'Primary',
      options2: ['Primary','Secondary'],
      cust_columns: [
        { name: 'Name', align: 'left', label: 'Name', field: 'Name' },
        { name: 'parent_aff', align: 'left', label: 'Parent Affiliation', field: 'parent_aff' },
        { name: 'npi_cus', align: 'left', label: 'NPI', field: 'npi_cus' },
        { name: 'address_cus', align: 'left', label: 'Address', field: 'address_cus' },
        { name: 'state_cus', align: 'left', label: 'State', field: 'state_cus' },
        { name: 'city_cus', align: 'left', label: 'City', field: 'city_cus' },
        { name: 'zip_cus', align: 'left', label: 'ZipCode', field: 'zip_cus' },
      ],
      columns: [
                { name: 'Rid', align: 'center', label: 'Change Request ID', field: 'Rid' },
                // { name: 'Rtype', align: 'left', label: 'Change Request Type', field: 'Rtype' },
                { name: 'custname', align: 'center', label: 'Customer Name', field: 'custname' },
                { name: 'status', align: 'center', label: 'Status', field: 'status' },
                { name: 'created_by', align: 'left', label: 'Created By', field: 'created_by' },
                { name: 'created_date', align: 'left', label: 'Created Date/Time', field: 'created_date' },
                { name: 'edit', align: 'center', label: 'Edit/View', field: 'edit' },
      ],
      n1_t1_r1_cust: [],
      n1_t1_r2_cust: [],
      n1_t2_r1_cust: [],
      n1_t2_r2_cust: [],
      n2_t1_r1_cust: [],
      n2_t1_r2_cust: [],
      n2_t2_r1_cust: [],
      n2_t2_r2_cust: [],
      cust_data :[],
      n1_t1_r1_ztt : [],
      n1_t1_r2_ztt : [],
      n1_t2_r1_ztt : [],
      n1_t2_r2_ztt : [],
      n2_t1_r1_ztt : [],
      n2_t1_r2_ztt : [],
      n2_t2_r1_ztt : [],
      n2_t2_r2_ztt : [],
      ztt_data: [],
      ztt_columns:[
          { name: 'zip', align: 'left', label: 'Zip Code', field: 'zip' },
          { name: 'curr_terr', align: 'left', label: 'Territory Name', field: 'curr_terr' },
          { name: 'curr_rep', align: 'left', label: 'REP Name', field: 'curr_rep' },
          { name: 'newzip', align: 'left', label: 'New Zip Code', field: 'newzip' },
          { name: 'newcurr_terr', align: 'left', label: 'New Territory Name', field: 'newcurr_terr' },
          { name: 'newcurr_rep', align: 'left', label: 'New REP Name', field: 'newcurr_rep' },
          { name: 'eff_date', align: 'left', label: 'Effective Date', field: 'eff_date' },       
      ],
      done_check4: 0,
      edit_customer: false,
      options3 : ['Mr.','Mrs.','Master','Miss'],
      model3 : 'Mr.',
      edit_d:{},
      n1_t1_r1_cr: [],
      n1_t1_r2_cr:[],
      n1_t2_r1_cr :[],
      n1_t2_r2_cr: [],
      n2_t1_r1_cr: [],
      n2_t1_r2_cr: [],
      n2_t2_r1_cr :[],
      n2_t2_r2_cr: [],
      n1_tall_rall : [],
      n2_tall_rall : [],
      n1_t1_rall : [],
      n1_t2_rall : [],
      n2_t1_rall : [],
      n2_t2_rall : [],
      data : [],
      zip_current_data:[
        {
          'zip' : '311001',
          'terr':'ABC',
          'rep' : 'D'
        },
        {
          'zip' :  '411038', 
          'terr':'CDE',
          'rep' : 'M'
        },
        {
          'zip' : '321001', 
          'terr':'JJS',
          'rep' : 'F'
        },
        {
          'zip' : '432001',
          'terr':'KLA',
          'rep' : 'JJ'
        }

      ],
      new_zip_data : [
        {
          'zip' : '451231',
          'terr':'DDA',
          'rep' : 'L'
        },
        {
          'zip' :  '648279',
          'terr':'MDE',
          'rep' : 'G'
        },
        {
          'zip' : '795402',
          'terr':'KLS',
          'rep' : 'U'
        },
        {
          'zip' : '231111',
          'terr':'YUI',
          'rep' : 'T'
        }        
      ]
    }
  },
  methods:{
    showcurrentnew(){
      if(this.model5 == null){
        this.new_terr_name = ''
      this.new_rep_name = ''
      }
      else{
      let m = this.model5
      let w = this.new_zip_data.filter((e)=>{
        return e.zip == m
      })
      this.new_terr_name = w[0].terr
      this.new_rep_name = w[0].rep
      }
    },
    showcurrent(){
      // console.log(this.model4)
      console.log(this.model4)
      if(this.model4 == null){
        this.terr_name = ''
      this.rep_name = ''
      }
      else{
      let m = this.model4
      let w = this.zip_current_data.filter((e)=>{
        return e.zip == m
      })
      this.terr_name = w[0].terr
      this.rep_name = w[0].rep
      }
    },
        filterFn (val, update) {
          console.log("hello")
      if (val === '') {
        update(() => {
          this.options4 = stringOptions
        })
        return
      }

      update(() => {
        const needle = val
        this.options4 = stringOptions.filter(v => v.indexOf(needle) > -1)
      })
    },
        filterFnnew (val, update) {
          console.log("hello")
      if (val === '') {
        update(() => {
          this.options5 = stringOptions1
        })
        return
      }

      update(() => {
        const needle = val
        this.options5 = stringOptions1.filter(v => v.indexOf(needle) > -1)
      })
    },
    changedataacc(){
      this.name_dis = "Account"
    },
    changedatapres(){
      this.name_dis = "Prescriber"
    },
    edit_form_fun(val){
      // console.log(val)
      this.done_check3 = true
      this.edit_customer = true
      console.log(this.data.filter((e)=>{
        return e.edit == val
      }))
      if(this.data.filter((e)=>{
        return e.edit == val
      })[0].status == 'Approved'){
       this.data.filter((e)=>{
        return e.edit == val
      })[0].readOnly = true
        this.edit_d = this.data.filter((e)=>{
        return e.edit == val
      })[0]
      }
      else{
        this.edit_d = this.data.filter((e)=>{
        return e.edit == val
      })[0]
      }
      
      // console.log(this.edit_d)
    },
    customer_form_fun(){
      console.log(this.customer_form)
      this.add_customer = true
      this.done = 0
      this.done_check = true
      this.done_check1 = true
    },
    onSubmitpres(){
      // if(this.name == '' || this.midd_name == '' || this.first_name =='' || this.paname=='' || this.nfi == ''
      // || this.add_lane_1 == '' || this.state == '' || this.zipcode == '' || this.city ==''){
      //   this.done = 0 
      //   this.done_check = true
      //   console.log(this.name)
      //   console.log(this.midd_name)
      //   console.log(this.first_name)
      //   console.log(this.paname)
      //   console.log(this.nfi)
      //   console.log(this.add_lane_1_acc)
      //   console.log(this.state)
      //   console.log(this.zipcode)
      //   console.log(this.city)
      // this.$q.notify({
      //     color: 'red-4',
      //     textColor: 'white',
      //     icon: 'warning',
      //     message: 'Please fill all the required details'
      //   })
               
      // }
    
      // else{
      // console.log("Hello")
      this.done_check = true,
      this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: 'Submitted'
        })
      let new_data = {}
      // this.cust_data.push(
      //   {

      //   }
      // )

      new_data['Name'] = this.name +' '+ this.first_name,
      new_data['parent_aff'] = this.paname
      new_data['npi_cus'] = this.nfi
      new_data['address_cus'] = this.add_lane_1+this.add_lane_2
      new_data['city_cus'] = this.city
      new_data['state_cus'] = this.state
      new_data['zip_cus'] = this.zipcode
      new_data['Custom_id'] = 'C' + Math.floor(Math.random()*(999-100+1)+100).toString();

      console.log(this.model_reg)
      // if(this.model_reg == 'Region 1'){
      //   console.log( this.n1_t1_r1_cust)
      //   this.n1_t1_r1_cust.push(new_data)
      // }
      // else if(this.model_reg == 'Region 2'){
      //   this.n1_t1_r2_cust.push(new_data)
      // }
        // if(this.model1 == 'Nation 1' && this.model_terr == 'Territory 1' && this.model_reg == 'Region 1'){
        //   // console.log( this.n1_t1_r1_ztt)
        //   this.n1_t1_r1_cust.push(new_data)
        // }
        // else if(this.model1 == 'Nation 1' && this.model_terr == 'Territory 1' && this.model_reg == 'Region 2'){
        //   this.n1_t1_r2_cust.push(new_data)
        // }
        // else if(this.model1 == 'Nation 1' && this.model_terr == 'Territory 2' && this.model_reg == 'Region 1'){
        //   this.n1_t2_r1_cust.push(new_data)
        // }
        // else if(this.model1 == 'Nation 1' && this.model_terr == 'Territory 2' && this.model_reg == 'Region 2'){
        //   this.n1_t2_r2_cust.push(new_data)
        // }
        // else if(this.model1 == 'Nation 2' && this.model_terr == 'Territory 1' && this.model_reg == 'Region 1'){
        //   this.n2_t1_r1_cust.push(new_data)
        // }
        // else if(this.model1 == 'Nation 2' && this.model_terr == 'Territory 1' && this.model_reg == 'Region 2'){
        //   this.n2_t1_r2_cust.push(new_data)
        // }
        // else if(this.model1 == 'Nation 2' && this.model_terr == 'Territory 2' && this.model_reg == 'Region 1'){
        //   this.n2_t2_r1_cust.push(new_data)
        // }
        // else if(this.model1 == 'Nation 2' && this.model_terr == 'Territory 2' && this.model_reg == 'Region 2'){
        //   this.n2_t2_r2_cust.push(new_data)
        // }
      // this.cust_data.push(new_data)
      this.$store.commit('add_cust_data',new_data)
      console.log(this.n1_t1_r1_cust)
      this.name = null,
      this.midd_name = null,
      this.first_name = null,
      this.paname = null,
      this.nfi = null,
      this.add_lane_1 = null,
      this.add_lane_2 = null,
      this.state = null,
      this.city = null,
      this.zipcode = null,
      this.text_pres = null
      this.done_check = false
      this.done = -1
      console.log(this.done)
    // }
    // this.done = 0
    },
    check(){
      // console.log(this.done_check)
      // if(this.done_check)
        this.done = -1
      console.log(this.done)
    },
    onZTTrequest(){
      // this.done_check4 = false,
      console.log(this.model4)
      if(this.model4 == null || this.date.length != 10){
        this.done_check4 = 0
        this.$q.notify({
            color: 'red-4',
            textColor: 'white',
            icon: 'warning',
            message: 'Details Invalid/Missing'
          })   
      }
      else{
        this.done_check4 = -1
      this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: 'Submitted'
        }) 
        let new_ztt_req = {}
        new_ztt_req['zip'] = this.model4,
        new_ztt_req['curr_terr'] = this.terr_name,
        new_ztt_req['curr_rep'] = this.rep_name,
        new_ztt_req['newzip'] = this.model5,
        new_ztt_req['newcurr_terr'] = this.new_terr_name,
        new_ztt_req['newcurr_rep'] = this.new_rep_name
        new_ztt_req['eff_date'] = this.date
        this.ztt_data.push(new_ztt_req)
        // if(this.model1 == 'Nation 1' && this.model_terr == 'Territory 1' && this.model_reg == 'Region 1'){
        //   console.log( this.n1_t1_r1_ztt)
        //   this.n1_t1_r1_ztt.push(new_ztt_req)
        // }
        // else if(this.model1 == 'Nation 1' && this.model_terr == 'Territory 1' && this.model_reg == 'Region 2'){
        //   this.n1_t1_r2_ztt.push(new_ztt_req)
        // }
        // else if(this.model1 == 'Nation 1' && this.model_terr == 'Territory 2' && this.model_reg == 'Region 1'){
        //   this.n1_t2_r1_ztt.push(new_ztt_req)
        // }
        // else if(this.model1 == 'Nation 1' && this.model_terr == 'Territory 2' && this.model_reg == 'Region 2'){
        //   this.n1_t2_r2_ztt.push(new_ztt_req)
        // }
        // else if(this.model1 == 'Nation 2' && this.model_terr == 'Territory 1' && this.model_reg == 'Region 1'){
        //   this.n2_t1_r1_ztt.push(new_ztt_req)
        // }
        // else if(this.model1 == 'Nation 2' && this.model_terr == 'Territory 1' && this.model_reg == 'Region 2'){
        //   this.n2_t1_r2_ztt.push(new_ztt_req)
        // }
        // else if(this.model1 == 'Nation 2' && this.model_terr == 'Territory 2' && this.model_reg == 'Region 1'){
        //   this.n2_t2_r1_ztt.push(new_ztt_req)
        // }
        // else if(this.model1 == 'Nation 2' && this.model_terr == 'Territory 2' && this.model_reg == 'Region 2'){
        //   this.n2_t2_r2_ztt.push(new_ztt_req)
        // }
        // console.log( this.n1_t1_r1_ztt)
        // console.log( this.n1_t1_r2_ztt)
        // this.ztt_data.push(new_ztt_req)
        this.model5 = null,
        this.new_terr_name = "",
        this.new_rep_name = "",
        this.model4 = null,
        this.terr_name = "",
        this.rep_name = "",
        this.date = "2021/05/07"
      }
    },
    zttmodal(){
      this.opened = true
      // this.done_check4 = true
    },
    onResetpres(){
      this.name = null,
      this.midd_name = null,
      this.first_name = null,
      this.paname = null,
      this.nfi = null,
      this.add_lane_1 = null,
      this.add_lane_2 = null,
      this.state = null,
      this.city = null,
      this.zipcode = null,
      this.text_pres = null
    },
    onSubmitacc(){
      this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: 'Submitted'
        })   
        this.done_check1 = false   
    },
    onResetacc(){
      this.name_acc = null,
      this.paname_acc = null,
      this.npi_name_acc = null,
      this.add_lane_1_acc = null,
      this.add_lane_2_acc = null,
      this.state_acc = null,
      this.city_acc = null,
      this.zipcode_acc = null,
      this.text_acc = null
    },
    onapproveedit(){
      // console.log(val)
      // console.log(this.edit_d)
      if(this.edit_d.readOnly == true){
        // this.$q.notify({
        //   color: 'red-4',
        //   textColor: 'white',
        //   icon: 'warning',
        //   message: 'Already approved'
        // })
      }
      else{
        this.edit_d.readOnly = true,
        this.edit_d.status= "Approved"
        this.edit_d.icon_dis = "visibility"
        this.data.filter((e)=>{
        return e.edit == this.edit_d.edit
      })[0] = this.edit_d
        // this.data[this.edit_d.edit] = this.edit_d
      // this.readonly= true
      // this.$q.notify({
      //     color: 'green-4',
      //     textColor: 'white',
      //     icon: 'cloud_done',
      //     message: 'Details approved'
      //   })
      }
      this.done_check3 = false
    },
    doterrchange(){
      if(this.model_terr == 'Territory 1'){
        if(this.model1 == 'Nation 1'){
          if(this.model_reg == 'Region 1'){
            this.data = this.n1_t1_r1_cr
            this.ztt_data = this.n1_t1_r1_ztt
            this.cust_data = this.n1_t1_r1_cust
          }
          else if(this.model_reg == 'Region 2'){
            this.data = this.n1_t1_r2_cr
            this.ztt_data = this.n1_t1_r2_ztt
            this.cust_data = this.n1_t1_r2_cust
          }
          // else if(this.model_reg == 'All'){
          //   this.data = this.n1_t1_rall
          // }
        }
        else{
          if(this.model_reg == 'Region 1'){
            this.data = n2_t1_r1_cr
            this.ztt_data = this.n2_t1_r1_ztt
            this.cust_data = this.n2_t1_r1_cust
          }
          else if(this.model_reg == 'Region 2'){
            this.data = this.n2_t1_r2_cr
            this.ztt_data = this.n2_t1_r2_ztt
            this.cust_data = this.n2_t1_r2_cust
          }   
          // else if(this.model_reg == 'All'){
          //   this.data = this.n2_t1_rall
          // }       
        }
      }
      else if(this.model_terr == 'Territory 2'){
        if(this.model1 == 'Nation 1'){
          if(this.model_reg == 'Region 1'){
            this.data = this.n1_t2_r1_cr
            // this.ztt_data = this.n1_t2_r1_ztt
            this.cust_data = this.n1_t2_r1_cust
          }
          else if(this.model_reg == 'Region 2'){
            this.data = this.n1_t2_r2_cr
            // this.ztt_data = this.n1_t2_r2_ztt
            this.cust_data = this.n1_t2_r2_cust
          }
          // else if(this.model_reg == 'All'){
          //   this.data = this.n1_t2_rall
          // }
        }
        else {
        
          console.log(this.model_reg)
          if(this.model_reg == 'Region 1'){
            this.data = this.n2_t2_r1_cr
            // this.ztt_data = this.n2_t2_r1_ztt
            this.cust_data = this.n2_t2_r1_cust
          }
          else if(this.model_reg == 'Region 2'){
            this.data = this.n2_t2_r2_cr
            // this.ztt_data = this.n2_t2_r2_ztt
            this.cust_data = this.n2_t2_r2_cust
          }   
          // else if(this.model_reg == 'All'){
          //   this.data = this.n2_t2_rall
          // }       
        }
      }
      else if(this.model_terr == 'All Territory'){
        //  this.model_reg = 'All'
        if(this.model1 == 'Nation 1'){
          if(this.model_reg == 'Region 1'){
            this.data = this.n1_t1_rall
          }
          else if(this.model_reg == 'Region 2'){
            this.data = this.n1_t2_rall
          }
          // else if(){
          //   this.data = this.n1_t1_rall
          // }
          // this.data = this.n1_tall_rall
        }
        else if(this.model1 == 'Nation 2'){
          if(this.model_reg == 'Region 1'){
            this.data = this.n2_t1_rall
          }
          else if(this.model_reg == 'Region 2'){
            this.data = this.n2_t2_rall
          }
        }
      }
    },
    donationchange(){
      if(this.model1 == 'Nation 1'){
        if(this.model_terr == 'Territory 1'){
          if(this.model_reg == 'Region 1'){
            this.data = this.n1_t1_r1_cr
            // this.ztt_data = this.n1_t1_r1_ztt
            this.cust_data = this.n1_t1_r1_cust
          }
          else if(this.model_reg == 'Region 2'){
            this.data = this.n1_t1_r2_cr
            // this.ztt_data = this.n1_t1_r2_ztt
            this.cust_data = this.n1_t1_r2_cust
          }
          else if(this.model_reg == 'All Region'){
            this.data = this.n1_t1_rall
          }
        }
        else if(this.model_terr == 'Territory 2'){
          if(this.model_reg == 'Region 1'){
            this.data = this.n1_t2_r1_cr
            // this.ztt_data = this.n1_t2_r1_ztt
            this.cust_data = this.n1_t2_r1_cust
          }
          else if(this.model_reg == 'Region 2'){
            this.data = this.n1_t2_r2_cr
            // this.ztt_data = this.n1_t2_r2_ztt
            this.cust_data = this.n1_t2_r2_cust
          }
          else if(this.model_reg == 'All Region'){
            this.data = this.n1_t2_rall
          }
        }
        else if(this.model_terr == 'All Territory'){
          // console.log("")
          // if(this.model1 == 'Nation 1'){
            this.data = this.n1_tall_rall
          // }
          // else{
          // }
        }
      }
      else if(this.model1 == 'Nation 2'){
        if(this.model_terr == 'Territory 1'){
          if(this.model_reg == 'Region 1'){
            this.data = this.n2_t1_r1_cr
            // this.ztt_data = this.n2_t1_r1_ztt
            this.cust_data = this.n2_t1_r1_cust
          }
          else if(this.model_reg == 'Region 2'){
            this.data = this.n2_t1_r2_cr
            // this.ztt_data = this.n2_t1_r2_ztt
            this.cust_data = this.n2_t1_r2_cust
          }
          else if(this.model_reg == 'All Region'){
            this.data = this.n2_t1_rall
          }
        }
        else if(this.model_terr == 'Territory 2') {
          if(this.model_reg == 'Region 1'){
            this.data = this.n2_t2_r1_cr
            // this.ztt_data = this.n2_t2_r1_ztt
            this.cust_data = this.n2_t2_r1_cust
          }
          else if(this.model_reg == 'Region 2'){
            this.data = this.n2_t2_r2_cr
            // this.ztt_data = this.n2_t2_r2_ztt
            this.cust_data = this.n2_t2_r2_cust
          }
          else if(this.model_reg == 'All Region'){
            this.data = this.n2_t2_rall
          }
        }
        else if(this.model_terr == 'All Territory'){
            this.data = this.n2_tall_rall
        }
      }
    },
    doregionchange(){
      console.log(this.data)
      if(this.model_reg == 'Region 1'){
        if(this.model1 == 'Nation 1'){
          if(this.model_terr == 'Territory 1'){
            // this.ztt_data = this.n1_t1_r1_ztt
            this.cust_data = this.n1_t1_r1_cust
            this.data = this.n1_t1_r1_cr
            console.log(this.data)
            console.log(this.n1_t1_r1_cr)
          }
          else if(this.model_terr == 'Territory 2'){
            this.data = this.n1_t2_r1_cr
            // this.ztt_data = this.n1_t2_r1_ztt
            this.cust_data = this.n1_t2_r1_cust
          }
          else if(this.model_terr == 'All Territory'){
            this.data = this.n1_t1_rall
          } 
          
        }
        else{
          if(this.model_terr == 'Territory 1'){
            this.data = this.n2_t1_r1_cr
            // this.ztt_data = this.n2_t1_r1_ztt
            this.cust_data = this.n2_t1_r1_cust
          }
          else if(this.model_terr == 'Territory 2'){
            this.data = this.n2_t2_r1_cr
            // this.ztt_data = this.n2_t2_r1_ztt
            this.cust_data = this.n2_t2_r1_cust
          } 
          else if(this.model_terr == 'All Territory'){
            this.data = this.n2_t1_rall
          }          
        }
      }
      else if(this.model_reg == 'Region 2'){
        if(this.model1 == 'Nation 1'){
          if(this.model_terr == 'Territory 1'){
            // this.ztt_data = this.n1_t1_r2_ztt
            this.cust_data = this.n1_t1_r2_cust
            this.data = this.n1_t1_r2_cr
          }
          else if(this.model_terr == 'Territory 2'){
            // this.ztt_data = this.n1_t2_r2_ztt
            this.cust_data = this.n1_t2_r2_cust
            this.data = this.n1_t2_r2_cr
          }
          else if(this.model_terr == 'All Territory'){
            this.data = this.n1_t2_rall
          } 
          
        }
        else{
          if(this.model_terr == 'Territory 1'){
            this.data = this.n2_t1_r2_cr
            // this.ztt_data = this.n2_t1_r2_ztt
            this.cust_data = this.n2_t1_r2_cust
          }
          else if(this.model_terr == 'Territory 2'){
            this.data = this.n2_t2_r2_cr
            // this.ztt_data = this.n2_t2_r2_ztt
            this.cust_data = this.n2_t2_r2_cust
          }
          else if(this.model_terr == 'All Territory'){
            this.data = this.n2_t2_rall
          }          
        }
      }
      else if(this.model_reg == 'All Region'){
        this.model_terr = 'All Territory'
        if(this.model1 == 'Nation 1'){
          // if(this.model_terr == 'Territory 1'){
          //   this.data = this.n1_t1_rall
          // }
          // else if(this.model_terr == 'Territory 2'){
          //   this.data = this.n1_t2_rall
          // }
          // else if(this.model_terr == 'All'){
            this.data = this.n1_tall_rall
          // }
        }
        else if(this.model1 == 'Nation 2'){
          // if(this.model_terr == 'Territory 1'){
          //   this.data = this.n2_t1_rall
          // }
          // else if(this.model_terr == 'Territory 2'){
          //   this.data = this.n2_t2_rall
          // }
          // else if(this.model_terr == 'All'){
            this.data = this.n2_tall_rall
          // }
        }
      }
      // console.log(this.data)
    }
  },

  created(){
    
    // console.log(this.n2_t2_r2_cr)
    let w8 = change_data.Sheet1.filter((e)=>{
      return (e.Nation == "Nation 1")
    })
    // for(let i=0;i<w8.length;i++){
    //   w8[i].edit = i
    // }
    this.n1_tall_rall = w8
    // for(let j=0;j<this.n1_tall_rall.length;j++){
    //   this.n1_tall_rall[j].edit = j
    // }
    console.log(this.n1_tall_rall)
    this.data = this.n1_tall_rall

    let w9 = change_data.Sheet1.filter((e)=>{
      return (e.Nation == "Nation 2")
    })
    for(let i=0;i<w9.length;i++){
      w9[i].edit = i
    }
    this.n2_tall_rall = w9
    // for(let j=0;j<this.n2_tall_rall.length;j++){
    //   this.n2_tall_rall[j].edit = j
    // }
    console.log(this.n2_tall_rall)
    let w10 = change_data.Sheet1.filter((e)=>{
      return (e.Nation == "Nation 1" && e.Region == 'Region 1')
    })
    // for(let i=0;i<w10.length;i++){
    //   w10[i].edit = i
    // }
    this.n1_t1_rall = w10
    // for(let j=0;j<this.n1_t1_rall.length;j++){
    //   this.n1_t1_rall[j].edit = j
    // }
    console.log(this.n1_t1_rall)
    let w11 = change_data.Sheet1.filter((e)=>{
      return (e.Nation == "Nation 1" && e.Region == 'Region 2')
    })
    // for(let i=0;i<w11.length;i++){
    //   w11[i].edit = i
    // }
    this.n1_t2_rall = w11
    // for(let j=0;j<this.n1_t2_rall.length;j++){
    //   this.n1_t2_rall[j].edit = j
    // }
    console.log(this.n1_t2_rall)
    let w12 = change_data.Sheet1.filter((e)=>{
      return (e.Nation == "Nation 2" && e.Region == 'Region 1')
    })
    // for(let i=0;i<w12.length;i++){
    //   w12[i].edit = i
    // }
    this.n2_t1_rall = w12
    // for(let j=0;j<this.n2_t1_rall.length;j++){
    //   this.n2_t1_rall[j].edit = j
    // }
    // console.log(this.n2_t1_rall)
    let w13 = change_data.Sheet1.filter((e)=>{
      return (e.Nation == "Nation 2" && e.Region == 'Region 2')
    })
    // for(let i=0;i<w13.length;i++){
    //   w13[i].edit = i
    // }
    this.n2_t2_rall = w13
    // for(let j=0;j<this.n2_t2_rall.length;j++){
    //   this.n2_t2_rall[j].edit = j
    // }
    console.log(this.n2_t2_rall)
    // console.log(w)
    // console.log(w2)
    console.log(change_data.Sheet1)
let w = change_data.Sheet1.filter((e)=>{
      return (e.Nation == "Nation 1" && e.Territory == "Territory 1" && e.Region == "Region 1")
    })
    // console.log(w)
    // for(let i=0;i<w.length;i++){
    //   w[i].edit = i
    // }
    this.n1_t1_r1_cr = w
    // console.log(this.n1_t1_r1_cr.length)
    // for(let j=0;j<this.n1_t1_r1_cr.length;j++){
    //   this.n1_t1_r1_cr[j].edit = j
    // }
    // console.log(this.n1_t1_r1_cr)
    // // this.data=this.n1_t1_r1_cr
    this.cust_data = this.n1_t1_r1_cust
    this.ztt_data = this.n1_t1_r1_ztt
    let w1 = change_data.Sheet1.filter((e)=>{
      return (e.Nation == "Nation 1" && e.Territory == "Territory 1" && e.Region == "Region 2")
    })
    // for(let i=0;i<w1.length;i++){
    //   console.log(i)
    //   console.log(w1[i])
    //   w1[i].edit = i

    // }
    this.n1_t1_r2_cr = w1
    // for(let j=0;j<this.n1_t1_r2_cr.length;j++){
    //   this.n1_t1_r2_cr[j].edit = j
    // }
    let w2 = change_data.Sheet1.filter((e)=>{
      return (e.Nation == "Nation 1" && e.Territory == "Territory 2" && e.Region == "Region 1")
    })
    // for(let i=0;i<w2.length;i++){
    //   w2[i].edit = i
    // }
    this.n1_t2_r1_cr = w2
    // for(let j=0;j<this.n1_t2_r1_cr.length;j++){
    //   this.n1_t2_r1_cr[j].edit = j
    // }
    console.log(this.n1_t2_r1_cr)
    let w3 = change_data.Sheet1.filter((e)=>{
      return (e.Nation == "Nation 1" && e.Territory == "Territory 2" && e.Region == "Region 2")
    })
    // for(let i=0;i<w3.length;i++){
    //   w3[i].edit = i
    // }
    this.n1_t2_r2_cr = w3
    // for(let j=0;j<this.n1_t2_r2_cr.length;j++){
    //   this.n1_t2_r2_cr[j].edit = j
    // }
    // console.log(this.n1_t2_r2_cr)

    let w4 = change_data.Sheet1.filter((e)=>{
      return (e.Nation == "Nation 2" && e.Territory == "Territory 1" && e.Region == "Region 1")
    })
    // for(let i=0;i<w4.length;i++){
    //   w4[i].edit = i
    // }
    this.n2_t1_r1_cr = w4
    // for(let j=0;j<this.n2_t1_r1_cr.length;j++){
    //   this.n2_t1_r1_cr[j].edit = j
    // }
    // console.log(this.n2_t1_r1_cr)
    let w5 = change_data.Sheet1.filter((e)=>{
      return (e.Nation == "Nation 2" && e.Territory == "Territory 1" && e.Region == "Region 2")
    })
    // for(let i=0;i<w5.length;i++){
    //   w5[i].edit = i
    // }
    this.n2_t1_r2_cr = w5
    // for(let j=0;j<this.n2_t1_r2_cr.length;j++){
    //   this.n2_t1_r2_cr[j].edit = j
    // }
    // console.log(this.n2_t1_r2_cr)
    let w6 = change_data.Sheet1.filter((e)=>{
      return (e.Nation == "Nation 2" && e.Territory == "Territory 2" && e.Region == "Region 1")
    })
    // for(let i=0;i<w6.length;i++){
    //   w6[i].edit = i
    // }
    this.n2_t2_r1_cr = w6
    // for(let j=0;j<this.n2_t2_r1_cr.length;j++){
    //   this.n2_t2_r1_cr[j].edit = j
    // }
    console.log(this.n2_t2_r1_cr)
    let w7 = change_data.Sheet1.filter((e)=>{
      return (e.Nation == "Nation 2" && e.Territory == "Territory 2" && e.Region == "Region 2")
    })
    // for(let i=0;i<w7.length;i++){
    //   w7[i].edit = i
    // }
    this.n2_t2_r2_cr = w7
    // for(let j=0;j<this.n2_t2_r2_cr.length;j++){
    //   this.n2_t2_r2_cr[j].edit = j
    // }
    console.log(this.n2_tall_rall)
  }
}
</script>

// height:160px
<style lang="sass">
.my-sticky-dynamic
   
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1

  thead tr:last-child th
    top: 48px
  thead tr:first-child th
    top: 0
</style>