<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="tw-bg-nav-b" elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          CRM
        </q-toolbar-title>

        <!-- <div>Quasar v{{ $q.version }}</div> -->
      </q-toolbar>
    </q-header>

    <q-drawer
    width="250"
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
      class="tw-bg-white tw-text-black tw-font-normal"
    >
          <q-toolbar>
           <q-toolbar-title class=" tw-text-gray-800 tw-text-xl tw-text-center">INCENTIUS</q-toolbar-title>
          </q-toolbar>
      <q-list>
        <!-- <q-item-label
          header
          class="text-cyan-10 tw-text-xl tw-text-center"
        >
          INCENTIUS
        </q-item-label> -->
        <hr />
          <q-item
            active-class="tw-text-white tab-active"
            clickable
            to = "/"
            exact
            class="q-ma-sm navigation-item"
            v-ripple

          >
            <q-item-section
              avatar
            >
              <q-icon name="published_with_changes" />
            </q-item-section>

            <q-item-section>
              <q-item-label>Change Request</q-item-label>
            </q-item-section>
          </q-item>
          <q-item
            active-class="tw-text-white tab-active"
            clickable
            to = "/customeractivity"
            class="q-ma-sm navigation-item"
            v-ripple

          >
            <q-item-section
              avatar
            >
              <q-icon name="local_activity" />
            </q-item-section>

            <q-item-section>
              <q-item-label>Customer Activity</q-item-label>
            </q-item-section>
          </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
        <q-footer class= "bg-grey-1 text-black">
      <q-toolbar>
        <q-item>
          <q-item-section>
            <q-item-label
              ><strong>Copyright © all rights reserved</strong></q-item-label
            >
          </q-item-section>
        </q-item>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
// import EssentialLink from 'components/EssentialLink.vue'

// const linksData = [
//   {
//     title: 'Docs',
//     caption: 'quasar.dev',
//     icon: 'school',
//     link: 'https://quasar.dev'
//   },
//   {
//     title: 'Github',
//     caption: 'github.com/quasarframework',
//     icon: 'code',
//     link: 'https://github.com/quasarframework'
//   },
//   {
//     title: 'Discord Chat Channel',
//     caption: 'chat.quasar.dev',
//     icon: 'chat',
//     link: 'https://chat.quasar.dev'
//   },
//   {
//     title: 'Forum',
//     caption: 'forum.quasar.dev',
//     icon: 'record_voice_over',
//     link: 'https://forum.quasar.dev'
//   },
//   {
//     title: 'Twitter',
//     caption: '@quasarframework',
//     icon: 'rss_feed',
//     link: 'https://twitter.quasar.dev'
//   },
//   {
//     title: 'Facebook',
//     caption: '@QuasarFramework',
//     icon: 'public',
//     link: 'https://facebook.quasar.dev'
//   },
//   {
//     title: 'Quasar Awesome',
//     caption: 'Community Quasar projects',
//     icon: 'favorite',
//     link: 'https://awesome.quasar.dev'
//   }
// ];

export default {
  name: 'MainLayout',
  // components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      // essentialLinks: linksData
    }
  }
}
</script>


<style>
.q-drawer {
  /*background-image: url(https://demos.creative-tim.com/vue-material-dashboard/img/sidebar-2.32103624.jpg) !important;*/
  background-image: url(https://www.creative-tim.com/product/vue-material-dashboard?_ga=2.16365695.853679763.1620650381-1973008431.1617114188) !important;
  background-size: cover !important;
}
.navigation-item {
  border-radius: 5px;
}
.tab-active {
  background-color: 	#1C4E80;
}

</style>
